body
{
    background: #FDFDFD;
    color: #223F37;
    font-size: large;
}

#logo
{
    max-width: 512px;
}


@media (max-width: 800px) {
    #logo
    {
        max-width: 256px;
    }
}

a {
    font-size: x-large;
    color: #4C8C7B;
}